<html lang="en">
<head>
  {% block head %}
    <title>{{ title }}</title>
  {% endblock %}
  {% if NODE_ENV == "development" %}
    <script type="module" src="http://localhost:5173/@vite/client" defer></script>
    <script type="module" src="http://localhost:5173/src/index.js" defer></script>
  {% else %}
  <link rel="stylesheet" href="/main.css">
  <script type="module" src="/main.js" defer></script>
  <script type="nomodule" src="/polyfills-legacy.js" defer></script>
  <script type="nomodule" src="/main-legacy.js" defer></script>
  {% endif %}
  {% block styles %}{% endblock %}
  {% block scripts %}{% endblock %}
</head>

<body>
  {% include "components/modes.liquid" %}

  {% block content %}{% endblock %}

  <script src="https://cdn.jsdelivr.net/npm/gsap@3.12.5/dist/gsap.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/gsap@3.12.5/dist/ScrollTrigger.min.js"></script>
</body>
</html>
